aiohttp
aiosignal
async-timeout
attrs
Automat
Babel
bcrypt
blinker
certifi
chardet
charset-normalizer
click
cloud-init
colorama
command-not-found
configobj
constantly
cryptography
dbus-python
discord
discord.py
distro
distro-info
frozenlist
httplib2
hyperlink
idna
importlib-metadata
incremental
jeepney
Jinja2
jsonpatch
jsonpointer
jsonschema
keyring
launchpadlib
lazr.restfulclient
lazr.uri
MarkupSafe
more-itertools
multidict
netifaces
oauthlib
pexpect
ptyprocess
pyasn1
pyasn1-modules
PyGObject
PyHamcrest
PyJWT
pyOpenSSL
pyparsing
pyrsistent
pyserial
python-apt
python-debian
python-magic
pytz
PyYAML
requests
SecretStorage
service-identity
six
sos
ssh-import-id
systemd-python
Twisted
ubuntu-advantage-tools
ufw
unattended-upgrades
urllib3
wadllib
xkit
yarl
zipp
zope.interface
